---
layout: default
---

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {% include toc.html html=content %}
    {{ content }}
  </div>

  <div class="date">
    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;Date:<span style="color: #333333; font-weight: normal;">&nbsp;{{ page.date | date: "%B %e, %Y" }}</span>
  </div>

  <div class="share-post">
    <i class="fa fa-share-alt-square fa-fw" aria-hidden="true"></i>&nbsp;Share:&nbsp;
    {% include share-buttons.html %}
  </div>

  <div class="related-posts">
    {% include related-posts.html %}
  </div>

  <div class="post-nav">
    {% include post-nav.html %}
  </div>

</article>