---
layout: default
---

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

<article class="post">

  <!-- Title -->
  <h1 class="post-title">{{ page.title }}</h1>

  <!-- Meta: Date -->
  <p class="post-meta">
    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
    {{ page.date | date: "%B %e, %Y" }}
  </p>

  <!-- Content -->
  <div class="post-content">
    {{ content }}
  </div>

  <!-- Newsletter subscription -->
  <section class="newsletter-subscribe">
  <div class="newsletter-inner">
    <p class="newsletter-intro">
      Get very occasional emails about new stuff on here, if you like.
    </p>

    <form
      action="https://buttondown.com/api/emails/embed-subscribe/seinecle"
      method="post"
      class="newsletter_form">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="you@example.com">
      <input type="hidden" name="embed" value="1">
      <input type="submit" value="Subscribe">
    </form>
  </div>
</section>


  <!-- Share Section -->
  <section class="share-post">
    <i class="fa fa-share-alt-square fa-fw" aria-hidden="true"></i>
    Share:
    {% include share-buttons.html %}
  </section>

  <!-- Related Posts -->
  <section class="related-posts">
    {% include related-posts.html %}
  </section>

  <!-- Post Navigation -->
  <nav class="post-nav">
    {% include post-nav.html %}
  </nav>

</article>
